Repository LinoBigatti/project-heartbeat-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python engine/doc/tools/make_rst.py
  args:
  - engine/doc/classes
  - engine/modules
  - engine/platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python engine/doc/tools/doc_status.py
  args:
  - engine/doc/classes
  - engine/modules/*/doc_classes
  - engine/platform/*/doc_classes
  - -c
  pass_filenames: false

copyright-headers:
  name: copyright-headers
  language: python
  entry: python engine/misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards_engine.py

Initial work on CI
  .github/actions/godot-build/action.yml
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/actions/godot-deps/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/linux_builds.yml
  .github/workflows/runner.yml
  .github/workflows/upload_release.yml
  .github/workflows/windows_builds.yml
  engine/platform/windows/crash_handler_windows.h
  engine/platform/windows/detect.py
  get_deps.ps1
  get_retail_binaries.sh
  misc/build_profiles/editor_debug_linux.py
  modules/hbnative/SCsub
  modules/steamworks/SCsub
Due: copyright-headers, header-guards

Fix steamworks not copying binaries when it should
  modules/steamworks/SCsub
Due: none

git subrepo push --remote=git@github.com:EIRTeam/shinobu.git --force engine
  engine/.gitrepo
Due: none

Fix some item cache issues
  modules/steamworks/steam_friends.cpp
  modules/steamworks/steam_friends.h
  modules/steamworks/steam_ugc.cpp
  modules/steamworks/steam_ugc.h
Due: header-guards

Fix potential deadlock in WorkerThreadPool
  modules/input_glyphs/input_glyphs_singleton.cpp
Due: none

git subrepo push --remote=git@github.com:EIRTeam/EIRTeam.InputGlyphs.git modules/input_glyphs
  modules/input_glyphs/.gitrepo
Due: none

git subrepo push --remote=git@github.com:EIRTeam/EIRTeam.Steamworks.git modules/steamworks
  modules/steamworks/.gitrepo
Due: none

Update retail bin paths
  get_retail_binaries.sh
Due: none

Remove now unused depth stencil attachment from the backbuffer
  engine/servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  engine/servers/rendering/renderer_rd/storage_rd/texture_storage.h
Due: copyright-headers, header-guards

Make plane clipping more reliable
  engine/servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Due: copyright-headers

git subrepo push engine
  engine/.gitrepo
Due: none

Enable debug builds on windows
  .github/workflows/upload_release.yml
  .github/workflows/windows_builds.yml
  misc/build_profiles/production_debug_windows.py
Due: none

Add the ability to download retail debug binaries for windows
  get_retail_binaries.sh
Due: none

Add the ability to get stream info (module only for now)
  modules/ffmpeg/SCsub
  modules/ffmpeg/ffmpeg_stream_info.cpp
  modules/ffmpeg/ffmpeg_stream_info.h
  modules/ffmpeg/register_types.cpp
  modules/ffmpeg/video_decoder.cpp
  modules/ffmpeg/video_decoder.h
Due: header-guards

Add clangd settings
  .clangd
Due: none

Enable std c++20 in ffmpeg module
  modules/ffmpeg/SCsub
Due: none

Fix more clipping issues (rawr)
  engine/servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  engine/servers/rendering/renderer_rd/renderer_canvas_render_rd.h
Due: copyright-headers, header-guards

git subrepo pull engine
  engine/.gitrepo
  engine/core/io/resource_uid.cpp
  engine/modules/mbedtls/register_types.cpp
  engine/thirdparty/README.md
  engine/thirdparty/mbedtls/include/godot_module_mbedtls_config.h
  engine/thirdparty/mbedtls/include/threading_alt.h
Due: copyright-headers

Add nixos build files.
  flake.lock
  flake.nix
  misc/build_profiles/debug_linux.py
  misc/linux_build_container/Dockerfile
  misc/linux_build_container/build.sh
Due: none

Path conditions:
  make-rst: any of: ^(engine/doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)|
  engine/platform/android/java/editor/src/main/java/com/android/.*|
  engine/platform/android/java/lib/src/com/google/.*
)$

  doc-status: any of: ^(engine/doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)|
  engine/platform/android/java/editor/src/main/java/com/android/.*|
  engine/platform/android/java/lib/src/com/google/.*
)$

  copyright-headers: any of: ^engine\/.*\.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  engine/core/math/bvh_.*\.inc|
  engine/platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  engine/platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java|
  engine/platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java|
  engine/platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)|
  engine/platform/android/java/editor/src/main/java/com/android/.*|
  engine/platform/android/java/lib/src/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(dummy|thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)|
  engine/platform/android/java/editor/src/main/java/com/android/.*|
  engine/platform/android/java/lib/src/com/google/.*
)$
)
